<!DOCTYPE html>
<html lang="hu" layout:decorator="layouts/main">
<head>
	<title>TODO - List</title>
</head>
<body>

	<div layout:fragment="content">	
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">
							<a th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">#</a>							
						</th>
						<th scope="col">
							<a th:href="@{'/page/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">Description</a>							
						</th>
						<th scope="col">
							<a th:href="@{'/page/' + ${currentPage} + '?sortField=created&sortDir=' + ${reverseSortDir}}">Created</a>
						</th>
						<th scope="col">
							<a th:href="@{'/page/' + ${currentPage} + '?sortField=term&sortDir=' + ${reverseSortDir}}">Term</a>
						</th>
						<th scope="col">Priority</th>
					</tr>
				</thead>
				<tbody th:each="todo : ${todoList}">
					<tr>						
						<th th:text="${todo.id}" scope="row">1</th>
						<td th:text="${todo.description}">description</td>
						<td th:text="${#dates.format(todo.created, 'yyyy.MM.dd')}">Created time</td>
						<td th:text="${#dates.format(todo.term, 'yyyy.MM.dd')}">Term</td>
						<td th:text="${todo.priority.priority}">Priority</td>
						<form action="#" th:action="@{/edit_todo}" method="post">
							<td>
								<input type="hidden" id="id" name="id" th:value="${todo.id}"/>
								<button class="btn btn-sm btn-secondary btn-block" type="submit">Edit</button>
							<td>							
						</form>
						<form action="#" th:action="@{/todo/remove}" method="post">
							<td>
								<input type="hidden" id="id" name="id" th:value="${todo.id}"/>
								<button class="btn btn-sm btn-danger btn-block" type="submit">Delete</button>
							<td>							
						</form>
					</tr>
				</tbody>
			</table>
			
			<div th:if="${totalPages > 1}">
				<div class="row col-sm-10">
					<div class="col-sm-2">
						Total rows: [[${totalItems}]]
					</div>
					
					<div class="col-sm-1">
						<a th:if="${currentPage > 1}" th:href="@{'/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
						<span th:if="${currentPage == 1}">First</span>
					</div>
					
					<div class="col-sm-1">
						<a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
						<span th:if="${currentPage == 1}">Previous</span>
					</div>
					
					<div class="col-sm-1">
						<span th:each="i : ${#numbers.sequence(1, totalPages)}">
							<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
							<span th:unless="${currentPage != i}">[[${i}]]</span>
						</span>
					</div>
					
					<div class="col-sm-1">
						<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
						<span th:unless="${currentPage < totalPages}">Next</span>
					</div>
					
					<div class="col-sm-1">
						<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
						<span th:unless="${currentPage < totalPages}">Last</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
</body>
</html>